@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-text);
  color: var(--black);
  background-color: var(--very-dark-gray);
}

img {
  width: 100%;
}

section {
  padding: 40px 0;
}

:root {
  --font-heading: 56px;
  --font-heading-sm: 36px;
  --font-title: 24px;
  --font-title-sm: 18px;
  --font-subtitle: 24px;
  --font-text: 16px;
  --black: rgb(18, 18, 18);
  --gray: #e9e9e9;
  --white: #ffffff;
  --dark-gray: #adadad;
  --very-dark-gray: #323232;
  --color-tag: #707070;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  background: var(--gray);
}
.header__inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 11;
}
.header__menu {
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.burger {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

.bar {
  z-index: 11;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #070707;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .burger {
    display: block;
    z-index: 11;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 767px) {
  .menu__list {
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: var(--gray);
    width: 240px;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 4;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  .menu__list.active {
    left: 0;
  }
}

.stopscroll {
  overflow: hidden;
}

.hero {
  display: flex;
  gap: 40px;
}
.hero__header {
  font-size: var(--font-heading);
  margin-bottom: 10px;
}
.hero__subtitle {
  margin-bottom: 20px;
}
.hero__content {
  animation: slideInFromTop 1s ease-in-out;
}
.hero__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.additional {
  color: var(--dark-gray);
}
.link {
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--black);
  transition: width 0.3s ease-in;
}
.link:hover::after {
  width: 100%;
}
.hero__image {
  width: 250px;
  animation: slideInFromLeft 1s ease-in-out;
}
@media (max-width: 767px) {
  .hero__image {
    display: none;
  }
  .hero__header {
    font-size: var(--font-heading-sm);
  }
}

.position {
  animation: slideInFromLeft 1s ease-in-out;
}
.subtitle {
  position: relative;
  color: var(--dark-gray);
  font-weight: 400;
  margin-bottom: 20px;
}
.subtitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--dark-gray);
}
.title {
  font-size: var(--font-title);
}
.position__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* animation: slideInFromLeft 1s ease-in-out; */
}

.education {
  animation: slideInFromRight 1s ease-in-out;
}
.education__level {
  font-size: var(--font-subtitle);
  margin-bottom: 20px;
}
.education__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.education__item {
  display: flex;
  gap: 60px;
}
.education__year {
}
.tag {
  color: var(--dark-gray);
  min-width: 114px;
}
.education__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 768px) {
  .education__item {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 340px) {
  .title {
    font-size: var(--font-title-sm);
  }
}

.skills {
  animation: slideInFromLeft 1s ease-in-out;
}
.skills__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skills__item {
  display: flex;
  gap: 60px;
}
.skills__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.skills__name {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.skills__name-item {
  padding: 5px 10px;
  background-color: var(--gray);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.skills__name-item:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .skills__item {
    flex-direction: column;
    gap: 20px;
  }
}

.about {
  animation: slideInFromBottom 1s ease-in-out;
}
.about__item {
  display: flex;
  gap: 60px;
}
@media (max-width: 768px) {
  .about__item {
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY (0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY (0);
  }
}
